@media screen and (min-width: 600px) {
    /* Header bar section*/
    #header {
        margin: 19px 7%;
    }

    /* Adjust size of button */
    #header > .side-bar-button {
        width: 35px;
        height: 35px;
        padding: 3px;
    }

    #header > label > svg {
        width: 100%;
        height: 100%;
    }

    .menu {
        color: rgb(12, 12, 12);
    }

    /* Header Image section */
    .header-image {
        height: 650px;
    }

    .container {
        max-width: 85%;
    }

    .container > h1 {
        font-weight: bolder;
    }
    .container > h2 {
        font-size: 2.5rem;
        font-weight: 450;
    }

    .container > h3 {
        font-size: 1.5rem;
        font-weight: 550;
    }

    .container > button {
        padding: 1rem 1.75rem;
        font-size: 0.9rem;
        font-weight: 800;
    }

    /* Service section */

    .intro{
        margin-top: 45px;
        margin-bottom: 40px;
        width: 100%;
        padding: 0 20px;
    }

    .service-details {
        height: 630px;
        padding: 20px 23px;
        justify-content: space-between;
    }

    .services-text {
        height: 200px;
        padding: 0 30px;
    }

    .services-text h2 {
        font-size: 1.5rem;
    }

    .services-text p {
        font-size: 1rem;
    }

    .service-img {
        height: 400px;
    }

    /* Choose us section */
    .choose-us-pic + div {
        min-height: 600px;
        padding: 80px 45px;
    }    

    .choose-us-pic + div > h1 {
        font-size: 2.45rem;
        font-weight: 650;
        margin-bottom: 0.3rem;
    }

    .choose-us-pic + div li {
        font-size: 1rem;
        font-weight: 600;
    }

    /* Product section */
    .products {
        padding: 0 30px;
    }

    .products > header > h1 {
        font-size: 2.35rem;
    }

    .products p, .products a {
        font-size: 0.9em;
    }

    .product-area {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-item {
        width: 46%;
    }

    @keyframes flyInFromBottom {
        from {
            bottom:-5%;
        }
        to {
            bottom: 2%;
        }
    }
    
    .hover-item > a {
        right:  35%;
        bottom: 2%;
    }
    

    .product-item img{
        width: 100%;
    } 

    .item-name {
        font-size: 0.9em;
    }

    /* Testimonia section */
    .testimonia {
        margin: 0 50px;
        padding-bottom: 7rem;
    }

    .testimonia p {
        line-height: 3rem;
    }

    /* Statistic section*/
    .statistic > div{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .counter {
        width: 40%;
        margin: 1rem 0;
    }

    /* News section */
    .news > article {
        margin: 0 1.25rem;
    }

    /* footer-infor section */
    .footer-text {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .slogan, .footer-link, .footer-news, .office {
        margin: 0;
        width: 40%;
    }
}    