/* For mobile */
:root {
    --header-font-color: rgb(105, 105, 105);
    --backgrond-side-bar: rgb(255, 255, 255);
    --social-color: rgb(43, 43, 43);
    --header-image-color: rgb(255, 255, 255);
    --button-color: #5F67FF;
    --black: rgb(22, 21, 21);
    --gray: rgb(185, 184, 184);
    --trans-gray: rgba(105, 105, 105, 0.87);
    --sp-trans-gray: rgba(105, 105, 105, 0.26);
    --light-blue: rgb(44, 139, 248);
    --dark-gray: rgb(46, 46, 46);
    --fb-icon-background: #324974;
    --tw-icon-background: #2c85ae;
    --vimeo-icon-background: #dc4337;
    --pinterest-icon-background: #3eaff0;
}

body {
    /* format */
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    /* arrange */
    display: flex;
    flex-flow: column wrap;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

/* Header section*/

#header {
    /* format */
    margin: 20px 30px;
    color: var(--header-font-color);
    background-color: rgb(255, 255, 255);
    /* arrange */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    max-width: 100%;
}

#header input[type="checkbox"] {
    appearance: checkbox;
    display: none;
}

#header .side-bar-button {
    /* Formatting */
    padding: 0.2rem;
    font-size: 1rem;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0.2rem;
}

#header label:hover {
    cursor: pointer;
}

.menu {
    /* Size */
    height: 100vh;
    width: 300px;
    /* Position */
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    /* Format */
    background-color: var(--backgrond-side-bar);
    border-right: 1px solid black;
    padding: 3rem 1.5rem;
    font-size: 1rem;
    /* Transition */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.menu > div, .menu > nav {
    padding-top: 1rem;
}

/* Fly in bar */
input[type="checkbox"]:checked ~ .menu {
    left: 0;
}

div.feature {
    /* Arrange */
    display: flex;
    justify-content: center;
}

.feature a {
    margin: 0 0.5rem;
}

.menu li > a  {
    display: block;
    padding: 0.5rem 0;
}

.schedule svg, .phone svg {
    /* Resize svg */
    font-size: 0.7rem;
    /* Formatting */
    padding-right: 0.7em;
    fill: var(--button-color);
}

.social svg {
    /* Resize svg */
    font-size: 0.7rem;
    /* Formatting */
    padding: 1rem 0.25rem;
    fill: var(--social-color);
}

/* Header Image section*/

.header-image {
    /* Size */
    height: 100vh;
    /* Background */
    background-image: url("../img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Arrange item */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* Font setting */
    color: var(--header-image-color);
    /* Align text */
    margin: 0 auto;
    padding: 0 1rem;
}

.container h2 {
    font-size: 3rem;
    font-weight: 400;
}

.container h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.container h3 {
    font-size: 1.55rem;
    font-weight: 400;
    margin: 1rem 0;
}

button {
    font-weight: 600;
    font-size: 1rem;
    margin: 1.5rem 0;
    padding: 0.75rem 1.2rem;
    background-color: var(--button-color);
}

button:hover {
    background-color: rgb(19, 198, 243);
}

/* Services section*/
.services {
    display: flex;
    flex-direction: column;
    padding: 10vh 0;
    color: var(--trans-gray);
}

.services h1, .services h2 {
    color: var(--black);
}

.services header {
    /* Sizing */
    height: 30vh;
    /* Arrange items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Align text */
    text-align: center;
}

.services header, .services .services-text {
    padding: 2rem;
}

.service-details {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.service-details .services-text {
    height: 35vh;
}

.services-text img {
    margin-bottom: 1rem;
}

.services-text h2 {
    margin: 1rem 0;
}

.service-details .service-img {
    height: 65vh;
    
}

/* Choose us section*/
.choose-us {
    padding: 3rem 0;
    /* Font setting */
    font-size: 1.05rem;
    box-shadow: 0 1rem 1rem -1px var(--sp-trans-gray);
}

.choose-us-pic {
    height: 80vh;
    background-image: url("../img/services/details/service-details.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.choose-us-pic + div {
    padding: 4rem 2rem 1rem 2rem;
    height: 100vh;
}

.choose-us h1 {
    font-size: 2.6rem;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.choose-us p {
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--trans-gray);
    margin-bottom: 3rem;
}

.choose-us ul {
    list-style: none;
    font-weight: 500;
} 

/* Set the list style */
.choose-us ul li::before{
    content: '\2714\0020';
    color: rgb(20, 144, 175);
    margin-right: 0.5rem;
} 

.choose-us li {
    margin: 1rem 0;
    line-height: 1.8rem;
}

.choose-us button {
    font-size: 1rem;
    color: var(--header-image-color);
    padding: 1rem 2.2rem;
    border-radius: 0.25rem;
}

/* Product section */
.products {
    font-size: 1.2rem;
}

.products > header {
    height: 15rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products > header > p, .products ul {
    color: var(--trans-gray);
}

.products > header > p {
    line-height: 1.8rem;
}

.product-area {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product-item {
    position: relative;
    margin: 0.5rem;
}

.product-item > figure > div {
    margin-bottom: 1rem;
}

.product-item:hover > figure > div {
    box-shadow: 0 0 1rem 10px rgba(158, 158, 158, 0.05);
}

.product-item ul {
    width: 2rem;
    box-shadow: 0 0 0.5rem 2px rgba(105, 105, 105, 0.1);
    /* Position list */
    position: absolute;
    top: 5%;
    right: 5%;
    /* Transition */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    /* Center items */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product-item  li {
    width: 1rem;
    /* Arrange list item */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  */
    font-size: 0.5rem;
    padding: 0.5rem;

}

.product-item li:first-child, .product-item li:nth-child(2) {
    border-bottom: 1px solid var(--sp-trans-gray);
}

.hover-item > ul {
    background-color: #fff;
}

.hover-item a {
    text-decoration-line: underline;
    color: rgb(33, 69, 230);
}

.item-price {
    margin: 0.5rem;
    font-weight: 600;
}

/* Testimonia section*/
.testimonia {
    margin: 1rem;
    padding: 1rem 5.5rem 10rem 1rem;
    display: flex;
    background-color: #fff;
    font-size: 2rem;
    font-style: italic;
    position: relative;
    top: 10rem;
    /* border: 5px solid red; */
}

.testimonia div::before {
    content: "\201D";
    font-size: 3em;
    font-family: serif;
    color: rgb(64, 147, 224);
}

.testimonia div {
    margin-right: 3rem;
}

.testimonia q {
    margin: 1rem;
    quotes: "\201C" "\201D";
}

/* Statistic section*/
.statistic {
    padding: 15rem 0 5rem 0;
    background-image: url("../img/counter-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.statistic > header {
    text-align: center;
    padding: 1rem 2rem;
}

.statistic > header > p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.counter {
    margin: 2rem 1rem;
    display: flex;
    align-items: flex-start;
}

.counter img {
    margin-right: 1rem;
}

.counter h1 {
    font-size: 3rem;
    color: var(--light-blue);
}

.counter p {
    font-size: 1rem;
    font-weight: 600;
}

/* News section*/

.news {
    margin: 2rem 1rem;
    font-size: 1rem;
    color: var(--trans-gray);
}

.news h1, .news h3 {
    color: black;
}

.news > header {
    text-align: center;
    margin: 3rem 1.25rem;
}

.news > header p {
    line-height: 1.6;
}

.article-img {
    height: 13rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-content {
    margin: 0 0 2rem 1.5rem;
}

.article-content > p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.article-content > .properties {
    padding: 0.5rem 1.5rem;
    background-color: white;
    display: inline-block;
    /* Position author and time infomation */
    position: relative;
    top: -1rem;
}

.article-content > h3 {
    margin-bottom: 2rem;
}

.article-content > a::before {
    content:"\2014 ";
    font-size: 2rem;
    color: var(--light-blue);
    position: relative;
    top: 0.25rem;
}

.article-content > a {
    display: inline-block;
    margin: 2rem 0;
}


/* Footer section*/
.footer-infor {
    /* Background Image */
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Format text */
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-contact {
    min-height: 70vh;
    padding: 2.5rem 0;
    border-bottom: 1px solid var(--sp-trans-gray);
    /* Align items */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.items {
    display: flex;
    align-items: center;
}

.items img {
    margin: 1.3rem;
}

.items p {
    font-size: 1.3rem;
    color: var(--gray);
    margin: 1rem 0;
}

.footer-text {
    padding: 2rem 0;
    font-size: 1rem;
}

.footer-text h3 {
    margin-bottom: 1.25rem;
}

.slogan {
    margin: 1.5rem 0;
    font-weight: 400;
}

.slogan img {
    margin: 1.5rem 0;
}

.slogan p {
    line-height: 1.6;
    color: var(--gray);
}

.slogan button {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 3rem;
    padding: .8rem 2rem
}

.footer-link {
    margin-bottom: 3rem;
}

.footer-link li a {
    display: block;
    position: relative;
    padding: 0.75rem 0;
}

.footer-link li a::after {
    content: "\2192";
    font-size: 1.5rem;
    font-weight: 700;
    /* Align arrow to the same column */
    position: absolute;
    top: 15%;
    left: 5rem;
}

.footer-news {
    margin-bottom: 3rem;
}

.footer-news a {
    display: block;
    color: var(--gray);
    margin: 1rem 0;
}

.footer-news a:hover {
    cursor: pointer;
    color: white;
}

.footer-news a span {
    color: white;
    padding: 0.5rem 0;
    display: inline-block;
}

.office {
    margin-bottom: 2rem;
}

.office p:nth-child(2) {
    margin-bottom: 1.5rem;
}

.office p {
    color: var(--gray);
    line-height: 1.4rem;
}

/* Copyright section*/

.copyright {
    font-size: 1rem;
    text-align: center;
    color: var(--gray);
    background-color: var(--dark-gray);
    padding: 1rem 1.5rem;
}

.copyright p {
    line-height: 1.8;
}

.copyright span {
    color: red;
    font-size: 0.5rem;
}

.copyright p a {
    color: var(--button-color);
}

.social-footer {
    margin-top: 1.3rem; 
}

.social-footer svg {
    font-size: 0.55rem;
    border-radius: 50%;
    padding: 0.4rem;
    margin: 0 0.2rem;
    color: white;
}

#fb {
    background-color: var(--fb-icon-background);
}

#tw {
    background-color: var(--tw-icon-background);
}

#vime {
    background-color: var(--vimeo-icon-background);
}

#pin {
    background-color: var(--pinterest-icon-background);
}